<!-- Banner Area Start -->
<div class="slider-area">
    <div style="width:100%; height:auto; background-image:url('@Url.Content("~/images/slider/6.jpg")'); background-repeat:repeat; background-size:contain; background-position:center;">

        <div id="slider-direction-1" class="text-center" style="padding:150px;">
            <!-- layer 1 -->
            <div class="layer-1">
                <h2 class="title-1">
                    Welcome to our Contact page! Here, you'll find:
                </h2>
            </div>
            <!-- layer 2 -->
            <div class="layer-2">
                <p class="title-2">
                    Email:You can send us your feedback, inquiries, or any other questions via email. We'll get back to you as soon as possible.
                </p>
                <p class="title-2">
                    Phone Number:Need immediate assistance? Feel free to give us a call. Our friendly team is here to help you with anything you need.
                </p>
                <p class="title-2">
                    Address: Visit Us
                </p>
                <p class="title-2">
                    Location:Find us on the map below. You can use the map to get directions to our location.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End-->
