<!-- Banner Area Start -->
<div class="slider-area">
    <div style="width:100%; height:auto; background-image:url('@Url.Content("~/images/slider/6.jpg")'); background-repeat:repeat; background-size:contain; background-position:center;">

        <div id="slider-direction-1" class="text-center" style="padding:150px;">
            <!-- layer 1 -->
            <div class="layer-1">
                <h2 class="title-1">
                    Welcome to our Author page! Here, YOU can find information about our featured author:
                </h2>
            </div>
            <!-- layer 2 -->
            <div class="layer-2">
                <p class="title-2">
                    Author Bio:Users can read a comprehensive biography of the author, providing insights into their background, accomplishments, and interests. Learn about the author's journey, their inspiration for writing, and what drives their passion for storytelling.
                </p>
          
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End-->
