@using BookStore.Models
@model List<Author>

<!-- Shop Area Start -->
<div class="shopping-area section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="shop-tab-area">

                    <div class="tab-content">
                        <div class="row tab-pane fade in active" id="home">
                            <div class="shop-single-product-area">

                                @foreach (var author in Model)
                                {

                                    <div class="col-md-3 col-sm-6">
                                        <div class="single-banner">
                                            <div class="product-wrapper">
                                                <a asp-action="Details" asp-route-id="@author.Id" class="single-banner-image-wrapper">
                                                    <img alt="" src="~/assets/img/author/@author.Image" style="width:270px; height:350px;">
                                                </a>
                                            </div>
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title">
                                                    <a asp-action="Details" asp-route-id="@author.Id">@author.Name</a>
                                                    <p style="padding: 4px; display: -webkit-box; overflow:hidden; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis">@author.Description</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Area End -->