<!-- Banner Area Start -->
<div class="slider-area">
    <div style="width:100%; height:auto; background-image:url('@Url.Content("~/images/slider/6.jpg")'); background-repeat:repeat; background-size:contain; background-position:center;">

        <div id="slider-direction-1" class="text-center" style="padding:150px;">
            <!-- layer 1 -->
            <div class="layer-1">
                <h2 class="title-1">
                    Welcome to our Home page! Here, you'll find:
                </h2>
            </div>
            <!-- layer 2 -->
            <div class="layer-2">
                <p class="title-2">
                    Banner Section: Get greeted by our welcoming banner, inviting you to explore our vast collection of books.
                </p>
                <p class="title-2">
                    Statistic Section: Stay informed with our latest book statistics, including the total number of books available and the most popular genres.
                </p>
                <p class="title-2">
                    Service Section: Enjoy hassle-free shopping with our free shipping service and other customer-friendly features.
                </p>
                <p class="title-2">
                    Books Section: Discover our top-selling books, carefully selected to provide you with the best reading experience.
                </p>
            </div>

            <!-- layer 3 -->
            @*    <div class="layer-3">
            <a href="#" class="title-3">SEE MORE</a>
            </div> *@
            <!-- layer 4 -->
            @*             <div class="layer-4">
            <form action="#" class="title-4">
            <input type="text" placeholder="Enter your book title here">
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div> *@
        </div>
    </div>
</div>
<!-- Banner Area End-->
