<!-- Banner Area Start -->
<div class="slider-area">
    <div style="width:100%; height:auto; background-image:url('@Url.Content("~/images/slider/6.jpg")'); background-repeat:repeat; background-size:contain; background-position:center;">

        <div id="slider-direction-1" class="text-center" style="padding:150px;">
            <!-- layer 1 -->
            <div class="layer-1">
                <h2 class="title-1">
                    Welcome to your Cart! Here's what you can do on this page:
                </h2>
            </div>
            <!-- layer 2 -->
            <div class="layer-2">
                <p class="title-2">
                    View Your Items:
                    See a summary of all the items you've added to your cart, including quantity, price, and total cost.
                </p>
                <p class="title-2">
                    Edit Your Cart:
                    Update the quantity of items, remove items, or continue shopping to add more items to your cart.
                </p>
                <p class="title-2">
                    Order Summary:
                    Get a final overview of your order, including the total cost, shipping information, and estimated delivery date.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End-->
