<!-- Banner Area Start -->
<div class="slider-area">
    <div style="width:100%; height:auto; background-image:url('@Url.Content("~/images/slider/6.jpg")'); background-repeat:repeat; background-size:contain; background-position:center;">

        <div id="slider-direction-1" class="text-center" style="padding:150px;">
            <!-- layer 1 -->
            <div class="layer-1">
                <h2 class="title-1">
                    Welcome to our About page! Our Mission:
                </h2>
            </div>
            <!-- layer 2 -->
            <div class="layer-2">
                <p class="title-2">
                    We're here to connect readers with their next favorite book.
                </p>
                <p class="title-2">
                    With a wide selection of titles, convenient shopping, expert recommendations, and exceptional service, we're committed to providing you with the best possible reading experience.
                </p>
            </div>

            <!-- layer 3 -->
            @*    <div class="layer-3">
            <a href="#" class="title-3">SEE MORE</a>
            </div> *@
            <!-- layer 4 -->
            @*             <div class="layer-4">
            <form action="#" class="title-4">
            <input type="text" placeholder="Enter your book title here">
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div> *@
        </div>
    </div>
</div>
<!-- Banner Area End-->
